body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #2f2f37;
  color: #f9f9fe;
  padding: 15px;
  margin: 0;
}
.form-wrapper {
  position: fixed;
  z-index: 5;
  background-color: rgb(77, 66, 107);
  padding: 15px;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
}

.search-form {
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  border-radius: 25px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: -10px;
  background-color: #f9f9fe;
  padding: 10px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  padding-top: 100px;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin-left: 20px;
  border: 1px solid rgb(77, 66, 107);
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-weight: 200;
}

.photo-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 500ms;
}

.photo-card:hover {
  transform: scale(1.1);
}

a {
  margin-top: 20px;
  margin-left: 20px;
  flex-basis: calc((100% - 80px) / 4);
  border: 1px solid rgb(77, 66, 107);
}

img {
  display: block;
  height: 200px;
  width: 320px;
  object-fit: cover;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: flex;
  align-items: center;
  margin: 50px auto 0;
  justify-content: center;
  background-color: rgb(77, 66, 107);
  border-radius: 5px;
  padding: 10px;
  color: #f9f9fe;
  width: 180px;
  transition: all 500ms;
}

.load-more:hover {
  transform: scale(1.1);
  background-color: #f9f9fe;
  color: rgb(77, 66, 107);
}

.top-btn {
  all: unset;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transform: scale(1.8);
  opacity: 0;
  transition: 500ms;
}
